<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Fruits Index</h1>

    <!-- lets make the template show the data  -->
    <!-- the data available to you here is the object you passed as the second parameter to res.render -->
    <ul>
      <% for (let i = 0; i < fruits.length; i++) { %>
        <li>
          <a href= "/fruits/<%= i %>">
            <%= fruits[i].name %>
          </a>
        </li>
      <% } %>
    </ul>



<!-- create a template for your INDEX
render it at the correct root
it should list all the Fruits -->


  </body>
</html>
