<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>

    <h1>Fruits Index</h1>
    <p> <a href="/fruits/new">Add a fruit!</a>

    <!-- lets make the template show the data  -->
    <!-- the data available to you here is the object you passed as the second parameter to res.render -->
    <ul>
      <% for (let i = 0; i < fruits.length; i++) { %>
        <li>
          <a href= "/fruits/<%= i %>">
            <%= fruits[i].name %>
          </a>
        </li>
        <form action="/fruits/<%= i %>?_method=DELETE" method="POST">
        <input type="submit" name="delete" value="delete"> </form>
      <% } %>
    </ul>



<!-- create a template for your INDEX
render it at the correct root
it should list all the Fruits -->


  </body>
</html>
