<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit</title>
  </head>
  <body>
    <h1>Edit Vegetable Page</h1>

    <form action="/veggies/<%= index %>?_method=PUT" method="POST">

      NAME: <input type="text" name="name" value="<%= vegetable.name%>"/><br/>
      COLOR: <input type="text" name="color" value="<%= vegetable.color%>"/><br/>
      READY TO EAT?:
      <input type="checkbox" name="readyToEat"
      <% if(fruit.readyToEat === true){ %>
          checked

        <% } %>
        />
        <br/>
      <button type="submit">Edit Vegetable</button>
    </form>
  </body>
</html>
